<div class="form-group">
    <!--<pre>tabs {{tabsCtrl.appendix4List | json}}</pre>-->

    <!--<ul class="nav nav-tabs">-->
        <!--<li data-ng-repeat="tab in tabsCtrl.tabs" role="presentation" data-ng-click="tabsCtrl.selectTab($index)"-->
            <!--data-ng-class="{'active':tabsCtrl.tabs[$index].selected === true}">-->
            <!--<a role="tab">{{tab.label |translate}}-->
                <!--<strong class="required">{{::"REQUIRED" |translate}}</strong>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<sup id="dr10_ref">-->
                <!--<a class="fn-lnk" href="#dr10" style="color: #284162;text-decoration: underline;cursor: pointer;"><span class="wb-inv">{{::'INSTRUCTION'|translate}}&nbsp;</span>{{::tabsCtrl.service.helpTextSequences.haSIMIndx}}</a>-->
            <!--</sup>-->
        <!--</li>-->
        <!--<li>
            <button title="{{::'EXPAND'|translate}} {{::'AH_SOURCED_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                    id="ah-sourced-instructions-toggle" data-ng-click="tabsCtrl.addInstruct(0)">
                <span class="fa fa-question-circle fa-2x rep-pad-top-10"></span>
                <span class="wb-inv">{{::'AH_SOURCED_INSTRUCT'|translate}}</span>
            </button>
        </li> -->
    <!--</ul>-->
    <!--<div class="row">
        <div class="col-md-12">
            <div>
                <cmp-alert  ui-state="tabsCtrl.alerts[0]"
                            msg="AH_SOURCED_INSTRUCT"
                            update-state="tabsCtrl.closeAlert(0)"
                            type="alert-info">
                <section aria-live="assertive">
                    <div data-ng-if="!tabsCtrl.isFrench()"
                         ng-include="'app/scripts/templates/drugProduct/tpl-drugProduct-add-sourced-en.html'">
                    </div>
                    <div data-ng-if="tabsCtrl.isFrench()"
                         ng-include="'app/scripts/templates/drug/tpl-drugProduct-add-sourced-fr.html'">
                    </div>
                </section>
                </cmp-alert>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xs-12 form-group">
            <strong>
                <span class="field-name"><span data-ng-if="! tabsCtrl.isCta()">11</span><span data-ng-if="tabsCtrl.isCta()">13</span>. {{::'FORMULATION'|translate}}</span>
                <sup id="dr9_ref">
                    <a class="fn-lnk" href="#dr9"><span class="wb-inv">{{::'INSTRUCTION'|translate}}&nbsp;</span>{{::tabsCtrl.service.helpTextSequences.formuIndx}}</a>
                </sup>
            </strong>
        </div>
    </div>
    <!--<div class="tabpanels">-->
        <ng-form name="tabsCtrl.tabs[0].form">
            <div id="formulations-panel" role="tabpanel">
                <div class="form-group">
                    <cmp-formulations formulations="tabsCtrl.formulationList"
                         error-summary-update="tabsCtrl.updateSummary"
                         show-error-summary="tabsCtrl.showSummary"
                         update-error-summary="tabsCtrl.updateErrorSummary()"
                         is-file-loaded="tabsCtrl.isFileLoaded"
                         ht-indx-list="tabsCtrl.service.helpTextSequences"
                         record-changed="tabsCtrl.recordChanged()"></cmp-formulations>
                </div>
            </div>
        </ng-form>
    <div class="row"><div class="col-xs-12"><br/></div></div>
    <div class="row">
        <div class="col-xs-12 form-group">
            <strong>
                <span class="field-name"><span data-ng-if="! tabsCtrl.isCta()">12</span><span data-ng-if="tabsCtrl.isCta()">14</span>. {{::'Human/Animal Sourced Ingredient/Material'|translate}}</span>
                <sup id="dr10_ref">
                    <a class="fn-lnk" href="#dr10"><span class="wb-inv">{{::'INSTRUCTION'|translate}}&nbsp;</span>{{::tabsCtrl.service.helpTextSequences.haSIMIndx}}</a>
                </sup>
            </strong>
        </div>
    </div>
    <ng-form name="tabsCtrl.tabs[1].form">
        <div>
            <section data-ng-if="drugProdCtrl.appendixMissingError()">
                <input type="hidden" required data-ng-model="drugProdCtrl.missingAppendixModel"
                       aria-hidden="true" name="fake.appendix_missing_error" id="fake.appendix_missing_error"/>
                <details class="alert alert-danger" id="errors-summary-fake.appendix_missing_error" open="open">
                    <summary class="h3">
                        <h2>{{::'MISSING_APPENDIX'|translate}}</h2>
                    </summary>
                    <ul>
                        <li data-ng-repeat="ingred in drugProdCtrl.errorAppendix">{{ingred}}</li>
                    </ul>
                </details>
            </section>
        </div>
        <div>
            <section ng-if="drugProdCtrl.appendixExtraError()">
                <input type="hidden"  data-ng-model="drugProdCtrl.extraAppendixModel"
                       aria-hidden="true" id="fake.appendix_extra_error" name="fake.appendix_extra_error"/>
                <details class="alert alert-danger" id="errors-summary-fake.appendix_extra_error" open="open">
                    <summary class="h3">
                        <h2>{{::'EXTRA_APPENDIX'|translate}}</h2>
                    </summary>
                    <ul>
                        <li data-ng-repeat="ingred in drugProdCtrl.extraAppendix">{{ingred}}</li>
                    </ul>
                </details>
            </section>
        </div>
            <div id="appendix4-panel" role="tabpanel">
                <div class="form-group">
                    <cmp-appendix-four ingredients="tabsCtrl.appendix4List" service="tabsCtrl.service"
                                       update-error-summary="tabsCtrl.updateErrorSummary()"
                                       error-summary-update="tabsCtrl.updateSummary"
                                       show-error-summary="tabsCtrl.showSummary"
                                       is-file-loaded="tabsCtrl.isFileLoaded"
                                       record-changed="tabsCtrl.recordChanged()"></cmp-appendix-four>
                </div>
            </div>
        </ng-form>
    <!--</div>-->
 <!--   <pre>{{tabsCtrl.tabs[0]}}</pre>-->
</div>
